h1 {
    margin-top: 30px;
}

textarea {
    height: 400px;
    resize: vertical;
}

.submit-button {
    text-align: center;
    margin-top: 10px;
}

.examples {
    .content {
        display: none;
    }
}

.api {
    .map, .commands, .start {
        input {
            text-align: center;
        }
    }
}

.alert {
    margin-top: 8px;
}

footer {
    border-top: 1px solid #CCCCCC;
    margin-top: 50px;
    padding-top: 10px;
    text-align: right;
}

#debug {
    form {
        float: left;

        button {
            margin-right: 3px;
        }
    }

    .records {

    }
}